
<!DOCTYPE html>
{% block head %}
{% load static %}
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link  rel = "icon" class="image" href="{% static 'img/BS_logo_1.ico' %}" >
    <title>TO-DO APP</title>
    <!-- Custom fonts for this template-->
    <link href= "{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet"  type="text/css">
    <link
        href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href= "{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                <div class="sidebar-brand-icon ">
                    <img src="{% static 'img/BS_logo.png' %} " width="60" height="60" >
                </div>
                <div class="sidebar-brand-text mx-3">BS 23 </div>
            </a>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>TO-DO</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
<!--                        <h6 class="collapse-header">Login Screens:</h6>-->
                        <a class="collapse-item" href="{% url 'add_todo' %}">My To Do</a>
                        <a class="collapse-item" href="{% url 'get_todo_by_status' %}">Completed To Do</a>

<!--                        <div class="collapse-divider"></div>-->
<!--                        <h6 class="collapse-header">Other Pages:</h6>-->
<!--                        <a class="collapse-item" href="404.html">404 Page</a>-->
<!--                        <a class="collapse-item" href="blank.html">Blank Page</a>-->
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </nav>
            <!-- Begin Page Content -->
                <div class="container-fluid" style="width: 1500px;" >
                <style>
                    .tab {
                            display: inline-block;
                            margin-left: 300px;
                        }
                </style>
                    <!-- Content Row -->
                    <div class="container-fluid">

                        <div class="card shadow mb-4">

                            <div class="card-header py-3" style="background-color: #03d3fc;" >

                                <h2 style="color: white; font-family: 'Times New Roman', Times, serif;"><center>
                                    My To Do List
                                    </center></h2>
                            </div>

                            <hr/>
                            <form method="POST" >
                                    {% csrf_token %}
                                        <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

                                            <select name="todo_status" id="todo_status_name" class="form-control bg-light border-1 small">
                                                <option value="" selected >Choose Category</option>
                                                <option value="All Todo" >All Todo</option>
                                                <option value="Completed" >Completed</option>
                                                <option value="Pending" >Pending</option>
                                            </select>
                                            <button type="submit" class="btn btn-primary ">Search</button>
                                        </div>
                                    <hr/>

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped"  id="dataTable" width="100%" cellspacing="0">
                                                <thead class = "thead-dark">
                                                    <tr>
                                                        <th>SL</th>
                                                        <th>To-Do Name</th>
                                                        <th>Is Completed</th>
                                                        <th>Action</th>


                                                    </tr>
                                                </thead>
                                                {% for getdata in todos %}
                                                    <tr>
                                                            <td class="h5 mb-4 text-gray-800"> {{forloop.counter }}</td>
                                                            <td class="h5 mb-4 text-gray-800"> {{ getdata.todo_name}}</td>
                                                            <td class="h5 mb-4 text-gray-800"> {{ getdata.is_completed}}</td>
                                                            <td class="h5 mb-4 text-gray-800">

                                                                    {% if getdata.is_completed == 'No' %}
                                                                    <a href="#editTodosModal-{{ forloop.counter }}" class="edit btn btn-primary btn-sm" data-toggle="modal" >EDIT</a>
                                                                    <a href="#completedTodosModal-{{ forloop.counter }}" class="edit btn btn-success btn-sm" data-toggle="modal" >Complete</a>
<!--                                                                    <a href="#deleteEmployeeModal-{{ forloop.counter }}" class="edit btn btn-danger btn-sm" data-toggle="modal" >Delete</a>-->
                                                                    {% endif %}

                                                            </td>


                                                    </tr>
                                                {% endfor %}
                                    </table>
                                </div>
                                 </div>
                            </form>

                        </div>
                        <br>
                                {% if messages%}
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                <center><h4 style="color: rgb(243, 26, 7);"><strong>{{message}}</strong></h4></center>
                                {% else %}
                                <center><h4 style="color: rgb(27, 243, 7);"><strong>{{message}}</strong></h4></center>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                        </div>
                    </div>


                </div>
            <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Md. Abu RaiHan</span>
                            <!--Developed By Md Abu Raihan, IUBAT, Trainee Brain Station 23-->
                        </div>
                    </div>
                </footer>
                </div>
                </div>
               </div>
        </div>

    </div>


    <!-- Edit TO-DO Modal HTML -->
    {% for i in todos %}
    <div id="editTodosModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <form action="{% url 'edit_todo' i.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title">Edit TO-DO</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">
                        <p>Are you sure, you want to Edit <strong style="color:red;">{{i.todo_name}}</strong> ?</p>


                        <div class="form-group">
<!--                            <textarea name = 'edited_todo' type="text" class="form-control" value = "{{i.todo_name}}"  rows="2" required></textarea>-->
                             <textarea type="text" name = 'edited_todo' type="text" class="form-control" rows="2" required> {{i.todo_name}} </textarea>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-primary" value="Edit">

                    </div>


                </form>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}

    <!-- Complete TO-DO Modal HTML -->
    {% for i in todos %}
    <div id="completedTodosModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <form action="{% url 'complete_todo' i.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title">Complete TO-DO</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">
                        <p>Are you sure, you have completed the todo <strong style="color:red;">{{i.todo_name}}</strong> ?</p>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-primary" value="Yes">

                    </div>


                </form>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}

    <!-- Reject Modal HTML -->
    {% for i in GetRequestedProduct %}
    <div id="deleteEmployeeModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'rejectrequest' i.0 user %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title">Reject Requistion</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    </div>

                    <div class="modal-body">
                        <p>Are you sure, you want to Reject <strong style="color:red;">{{i.2}}</strong>  Requisition for
                            <strong style="color:red;">{{i.3}}</strong> requested by <strong style="color:rgb(255, 30, 0);">{{i.8}} </strong> ?</p>

                        <div class="form-group">
                            <label>Feedback</label>

                            <textarea name = 'feedback' type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                            <!-- <input name = 'message' value =" " type="text" class="form-control" required> -->
                        </div>


                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <!-- <a href="{% url 'makerequisition' user %}" class="edit btn btn-danger btn-sm"  value="Delete"  >Request</a> -->
                        <input type="submit" class="btn btn-danger" value="Reject">
                    </div>


                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

        </div>
    </div>
    <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

        <!-- Page level plugins -->
        <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

        <!-- Page level custom scripts -->
        <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>


</html>
{% endblock %}